.hero-Container{

 padding: 15px 8px;
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
 position: relative;
 
}

.hero-Container img{
    height: 78vh;
    width: 100%;
    border-radius: 8px;
}


.hero-float{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;


}

.hero-float p{

font-size: 40px;
font-weight: 700;
letter-spacing: 4px;
color: rgb(250, 238, 250);
font-family: sans-serif;

}

.hero-float button{

padding: 15px 20px ;
border-radius: 8px;
border: none;
background: peru;
color: rgb(227, 238, 227);
font-size: 17px;
cursor: pointer;

}

.hero-float button:hover{

background: rgb(199, 122, 46);


}


/* ==========================Hero Float===================== */

@media screen and (max-width:1100px) {
    
.hero-Container img{

height: 60vh;

}

@media screen and (max-width:880px) {
    
.hero-Container img{

    height: 40vh;

}

}

}

@media screen and (max-width:500px) {
    
.hero-Container img{

height: 30vh;

}

}